<section class="home-page">

    <nav *ngIf="!isLoggedIn" class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand ml-5" >Bu login you will be able to upload Cv os login now</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
      </nav>

      <div *ngIf="!isLoggedIn" class="main-word">
        <span class="word"> Our System is your Choice To Find your Future Carrer</span>  <br>
      </div>
      
      
</section>